
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


<h1>Login</h1>
<hr />
<form method="post">
    <div class="form-group">
        <label for="username">Kullanıcı Adı</label>
        <input type="text" name="UserName" id="username" class="form-control" required>
    </div>
    <div class="form-group mt-3">
        <label for="password">Şifre</label>
        <input type="text" name="Password" id="password" class="form-control" required>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
</form>





